# Chatwoot
CHATWOOT_URL=https://chat.engosoft.com
CHATWOOT_API_KEY=Buvw2SUpLEJPydCEywhdUd8H
CHATWOOT_ACCOUNT_ID=2

# Botpress Messaging API Webhook
BOTPRESS_WEBHOOK_URL=https://webhook.botpress.cloud/2ea5aae3-c1af-49c5-844e-6396d07c9b6e

# Railway
PORT=3000
